{% extends 'base.html.twig' %}


{% block title %}Catégories{% endblock %}


{% block body %}
<h1>Toutes les catégories</h1>

<ul class='list-group'>
{% for category in categories %}
    <li class='list-group-item'><a href='{{path('category_show', { categoryName: category.name })}}'>{{ category.name }}</a></li>
    {% else %}
        Aucune catégorie trouvée
    {% endfor %}
</ul>

{% endblock %}