{% extends 'base.html.twig' %}


{% block title %}Catégories{% endblock %}


{% block body %}
<h1>{{ category.name }}</h1>

{# <ul class='list-group'>
{% for category in categories %}
    <li class='list-group-item'>{{ category.name }}</li>
    {% else %}
        Aucune catégorie trouvée
    {% endfor %}
</ul> #}

{% endblock %}