{% extends 'base.html.twig' %}


{% block title %}Wild Series{% endblock %}


{% block body %}


<main>
<h1>Bienvenue sur {{ website }} !</h1>
<h2>Toutes vos séries préférées. Un seul site.</h2>
<button>C'est parti !</button>
</main>


{% endblock %}